Provision/disks/**/*
Provision/minibian/*.img
!Provision/disks/DISK-HERE.txt
!Provision/disks/default/config.qemu
Provision/disks/default/2015-02-18-wheezy-minibian.img
Provision/minibian/*.tar

Provision/ssh/*
!Provision/ssh/.gitindex

# ignore hostname & hosts file vars changed
injects/default/etc/hostname
injects/default/etc/hosts

injects/default/root/qbian.conf

.vagrant/
.bash_history
.cache/
.viminfo
